@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: fallback;
	src: url('../font/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: fallback;
	src: url('../font/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: fallback;
	src: url('../font/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'NewYork';
	font-weight: 400;
	font-display: fallback;
	src: url('../font/NewYork-PERSONAL-USE.woff') format('woff');
}
