@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

/* s: common */
span {
    word-break: normal;
}

.ft-eng {
    font-family: variables.$fontEngDefault;
}

.reveal-tg {
    &.reveal {
        animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    }
}

/* 메뉴, 본문 스킵 네비게이션 */
.skip-nav {
    position: absolute;
    font-size: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;

    a {
        position: absolute;
        display: inline-block;
        color: #fff;
        width: 100%;
        padding: 10px;
        background: variables.$colorBlack;
        text-align: center;
        font-size: variables.$fontSizeSm;
        left: 0;
        right: 0;
        top: 0;
        box-sizing: border-box;

        &:not(:focus) {
            @include mixins.prefix(transform, translateY(-100%));
        }
    }
}

/* 화면에서 숨김 */
.offscreen {
    position: absolute !important;
    display: block;
    overflow: hidden;
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    font-size: 14px !important;
}

/* 타이틀 */
%revealTitleStyle {
    overflow: hidden;

    .reveal-item {
        display: inline-block;
        transform: translateY(100%);
        animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    }

    span:not(.ft-eng) {
        font-size: inherit;
        font-weight: inherit;
    }
}

.cont-title-wrap {
    margin-bottom: 20px;
}
.cont-tit {
    @include mixins.font_size_xxxl;
    @extend %revealTitleStyle;
}

.cont-tit-sm {
    @include mixins.font_size_xxl;
    @extend %revealTitleStyle;
}

.scont-tit {
    margin-bottom: 10px;
    overflow: hidden;
    @include mixins.font_size_lg('default', 'md');

    ~ .scont-tit {
        margin-top: 30px;
    }
}

.scont-tit-sm {
    @include mixins.font_size_md;
    margin-bottom: 10px;

    ~ .scont-tit-sm {
        margin-top: 25px;
    }
}

.btext {
    @include mixins.font_size_rgl(22px);
}

// 버튼
.btn {
    @include mixins.justify_width(center, center, row);
    height: 50px;
    padding: 0 24px;
    border-radius: 4px;
    font-weight: variables.$fontWeightMedium;

    .text {
        @include mixins.font_size_rgl;
        text-align: center;
    }

    &.btn-black {
        background-color: variables.$colorBlack;

        .text {
            color: variables.$colorWhite;
        }
    }

    &.btn-light-gray {
        border: 1px solid variables.$colorBlack;
    }
}

.btn-wrap {
    @include mixins.justify_width(center);
    margin-top: 30px;

    .btn {
        & ~ .btn {
            margin-left: 10px;
        }
    }

    @include mixins.size_mobile {
        .btn {
            flex: 1 0 0;
        }
    }
}

// 태그
.tag-wrap {
    font-size: 0;

    margin: {
        top: -1px;
        left: -2px;
        right: -1px;
        bottom: -2px;
    }

    .tag {
        overflow: hidden;
        display: inline-block;
        box-sizing: border-box;
        text-align: center;
        vertical-align: top;
        border: 1px solid variables.$colorLineGray;
        margin: 1px 1px 2px 2px;
        padding: 2px 7px 3px;
        border-radius: 20px;
        font-size: 0;

        .text {
            display: inline-block;
            position: relative;
            color: variables.$colorBlack;
            vertical-align: top;
            @include mixins.font_size_xxs;
            color: variables.$colorBlack;
        }
    }
}

// 정보성 테이블
.tbl-info {
    tr {
        th, td {
            @include mixins.font_size_rgl;
            text-align: left;
            vertical-align: top;
            word-break: break-all;
            padding-top: 10px;
        }

        th {
            padding-right: 10px;
        }

        td {
            .tag {
                line-height: 0;
            }
        }
    }
}

// 정보성 리스트
.info-text-list {
    .info-text {
        position: relative;
        padding-left: 8px;
        @include mixins.font_size_rgl(22px);
    
        &:before {
            display: block;
            position: absolute;
            left: 0;
            content: '';
            top: 7px;
            width: 3px;
            height: 3px;
            border-radius: 2px;
            background-color: #FFC366;
        }

        + .info-text {
            margin-top: 6px;
        }
    }
}

.info-sub-list {
    margin-top: 6px;

    .dash-text {
        position: relative;
        padding-left: 8px;
        @include mixins.font_size_rgl(22px);
        word-break: break-word;

        &:before {
            display: block;
            position: absolute;
            left: 0;
            content: '-';
            top: 0;
        }

        ~ .dash-text {
            margin-top: 6px;
        }
    }
}