@use '../abstracts/variables';
@use '../abstracts/mixins';

/* s : keyframes */
@keyframes reveal {
    0% {
        opacity: 0;
        @include mixins.prefix(transform, translateY(30px));
    }
    100% {
        opacity: 1;
        @include mixins.prefix(transform, translateY(0));
    }
  }
  
@keyframes wave-name {
  0% {
    @include mixins.prefix(transform, rotateZ(2deg));
  }
  100% {
    @include mixins.prefix(transform, rotateZ(-2deg));
  }
}


@keyframes opacityActive {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes goTopIcoActive {
    0% {
        opacity: 0;
        @include mixins.prefix(transform, translateY(10px));
    }
    100% {
        opacity: 1;
        @include mixins.prefix(transform, translateY(0));
    }
}

@keyframes topHide {
    0% {
        @include mixins.prefix(transform, scale(1));
    }
    100% {
        @include mixins.prefix(transform, scale(0));
    }
}

/* e : keyframes */