@use '../abstracts/variables';
@use '../abstracts/mixins';


/* s : footer */
.footer-wrapper {
    .footer-inner {
        max-width: 1150px;
        padding: 29px 20px;
        margin: 0 auto;
        @include mixins.justify_width(start, between);
    }
}
/* e : footer */