@use 'sass:selector';
@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';


/* s : grid */
body {
    scroll-behavior: smooth;
    
    @include mixins.size_desktop {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

/* floating */
.floating-wrapper {
    z-index: 9;
    position: fixed;
    bottom: calc(30px + env(safe-area-inset-bottom));
    right: 14px;
    @include mixins.justify_width(end, start, column);

    .btn-go-top {
        display: none;
        width: 42px;
        height: 42px;
        background: #fff;
        border: 1px solid rgba(variables.$colorBlack, 10%);
        opacity: 0;
        border-radius: 42px;
        box-shadow: 0 5px 10px rgba(variables.$colorBlack, 5%);

        .ico-top {
            display: block;
            width: 16px;
            height: 16px;
            margin: 0 auto;
            opacity: 0;
            @include mixins.ratio_images('../images/common/comm_go_top', cover, 0 0, '', 'svg');
            @include mixins.prefix(transform, translateY(10px));
        }
        &.is-hide {
            display: block;
            opacity: 1;
            @include mixins.prefix(animation, topHide 0.1s cubic-bezier(0.445, 0.050, 0.550, 0.950) forwards);
        }

        &.is-active {
            display: block;
            opacity: 0;
            @include mixins.prefix(animation, opacityActive 0.2s 0.15s ease-out forwards);

            .ico-top {
                @include mixins.prefix(animation, goTopIcoActive 0.3s 0.25s variables.$transEaseBounceBack forwards);
                opacity: 0;
                @include mixins.prefix(transform, translateY(10px));
            }
        }
    }

    // desktop
    @include mixins.size_desktop {
        right: 20px;
        bottom: 20px;

        .btn-go-top {
            margin: {
                left: auto;
                right: auto;
            }
        }
    }
}

/* container */
.container-wrapper {
    position: relative;
    z-index: 2;

    // mobile
    @include mixins.size_mobile {
        @include mixins.justify_width(stretch, between, column);
        min-height: var(--vh, 1vh);

        .cont-box {
            width: 100%;

            &:nth-last-of-type(1) {
                .cont-inner {
                    padding-bottom: env(safe-area-inset-bottom);
                }
            }
        }
    }

    // desktop
    @include mixins.size_desktop {
        padding: {
            bottom: 100px;
        }
        
        .cont-box {
            ~ .cont-box {
                margin-top: 120px;
            }
        }

        .intro-box {
            padding-top: variables.$headerHeight;
        }
    }
}

.cont-box {
    position: relative;

    .cont-inner {
        position: relative;
        padding: 0 20px;
    } 
    
    // mobile
    @include mixins.size_mobile {
        padding: {
            top: 30px;
            bottom: 30px;
        }
    }

    // desktop
    @include mixins.size_desktop {
        .cont-inner {
            padding: 0 12vw;
        }
    }
}
/* e : grid */