@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

/* s : header */
.header-wrapper {
    z-index: 25;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    mix-blend-mode: difference;
    
    .header-inner {
        height: variables.$headerMoHeight;
        padding: 0 20px;
        @include mixins.justify_width(center, between);

        .link-logo {
            display: block;

            .text {
                font-weight: variables.$fontWeightMedium;
                color: variables.$colorWhite;
            }
        }

        .btn-scroll-to-contact, .btn-link {
            .text {
                font-weight: variables.$fontWeightMedium;
                color: variables.$colorWhite;
            }
        }

        &:after {
            content: '';
            display: inline-block;
            width: calc(100% - 40px);
            height: 1px;
            background-color: variables.$colorWhite;
            position: absolute;
            left: 20px;
            bottom: 0;
        }
    }

    @include mixins.size_desktop {
        .header-inner {
            position: relative;
            max-width: 1150px;   
            margin: 0 auto;
        }
    }
}
/* e : header */