@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost&amp;family=Montserrat:wght@400;500;600;700&amp;family=Rozha+One&amp;display=swap");
@import url(font.css);
@import url(components.css);
/* s : reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	min-height: var(--reVh, 1vh);
	scroll-behavior: smooth;
}

body {
	width: 100%;
	color: #000;
	background-color: #fff;
}

html, body {
	font-family: "Montserrat", "Pretendard", "SF Pro Display", AppleSDGothicNeo-Light, Helvetica, "Malgun Gothic", "MalgunGothic", "맑은고딕", sans-serif !important; /*overscroll-behavior-y: none;*/
}

ol, ul, nav {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

a {
	text-decoration: none;
	color: inherit;
}

select, input, button, textarea {
	display: inline-block;
	font-family: "Montserrat", "Pretendard", "SF Pro Display", AppleSDGothicNeo-Light, Helvetica, "Malgun Gothic", "MalgunGothic", "맑은고딕", sans-serif !important;
	font-size: 13px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: 500;
}

embed, object {
	position: absolute;
}

button {
	padding: 0;
	margin: 0;
	vertical-align: top;
	cursor: pointer;
	background-color: transparent;
	border: 0;
}

img {
	vertical-align: top;
	max-width: 100%;
}

input {
	vertical-align: top;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	line-height: 14px;
	border-radius: 0;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-overflow-scrolling: touch;
}

textarea[disabled],
textarea[readonly],
select[disabled],
select[readonly],
input[disabled],
input[readonly] {
	cursor: default !important;
	-webkit-overflow-scrolling: touch;
}

input[disabled] + label,
input[readonly] + label {
	cursor: default !important;
}

textarea {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 110px;
	padding: 7px 10px 7px;
	border: 1px solid #ddd;
	color: #111;
	line-height: 16px;
	border-radius: 0;
	vertical-align: top;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}

select::-ms-expand {
	display: none;
}

input::-webkit-input-placeholder {
	color: #999;
	line-height: 14px;
}

/* 크롬 4–56 : placeholder style */
input:-moz-placeholder {
	color: #999;
	line-height: 14px;
}

/* 파이어폭스 4–18 : placeholder style */
input::-moz-placeholder {
	color: #999;
	line-height: 14px;
}

/* 파이어폭스 19–50 : placeholder style */
input:-ms-input-placeholder {
	color: #999;
	line-height: 14px;
}

/* 인터넷 익스플로러 10+ : placeholder style */
input::-webkit-input-placeholder {
	color: #999;
	line-height: 14px;
}

input:-ms-input-placeholder {
	color: #999;
	line-height: 14px;
}

input::-ms-input-placeholder {
	color: #999;
	line-height: 14px;
}

input::placeholder {
	color: #999;
	line-height: 14px;
}

/* 파이어폭스 51+, 크롬 57+ : placeholder style */
input[type=button]:hover {
	cursor: pointer;
}

input[type=button]:disabled {
	cursor: default;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

button, input, select, textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: top;
}

button {
	vertical-align: top;
	cursor: pointer;
}

strong {
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6, pre {
	font-weight: 700;
	font-size: 100%;
	line-height: 1;
}

caption, legend {
	width: 0;
	height: 0;
	font-size: 1px;
	text-indent: -9999rem;
	line-height: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

a, a:active, a:focus, a:hover, a:link, a:visited,
button, button:active, button:focus, button:hover, button:visited,
textarea, textarea:active, textarea:focus, textarea:hover,
select, select:active, select:focus, select:hover {
	text-decoration: none;
}

.btn:focus, a.btn:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

a.disabled,
button[disabled],
input[disabled] {
	pointer-events: none;
	cursor: default;
}

input::-ms-clear {
	display: none;
}

header, footer, article, section, aside, details, figure, figcaption, nav, hgroup {
	display: block;
	margin: 0;
	padding: 0;
}

audio[controls], canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

button, input, select, textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: baseline;
	*vertical-align: middle;
}

button, input {
	line-height: normal;
	*overflow: visible;
}

table button, table input {
	*overflow: auto;
	-webkit-overflow-scrolling: touch;
}

button, html input[type=button], input[type=reset], input[type=submit] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
}

input[type=search] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

textarea::-webkit-scrollbar {
	width: 3px;
	border-radius: 1.5px;
}

textarea::-webkit-scrollbar-thumb {
	background: #ccc;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: "Montserrat", "Pretendard", "SF Pro Display", AppleSDGothicNeo-Light, Helvetica, "Malgun Gothic", "MalgunGothic", "맑은고딕", sans-serif !important;
}

/* Disable orange highlight */
label, a, button, select {
	-o-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
	padding: 0;
	background-color: transparent;
	border-width: 0;
	outline: none;
	font-family: "Montserrat", "Pretendard", "SF Pro Display", AppleSDGothicNeo-Light, Helvetica, "Malgun Gothic", "MalgunGothic", "맑은고딕", sans-serif !important;
	text-align: center;
}

::selection {
	background-color: #e1ff01;
	color: #000;
}

::-moz-selection {
	background-color: #e1ff01;
	color: #000;
}

::-webkit-selection {
	background-color: #e1ff01;
	color: #000;
}

/* e : reset */
/* s : header */
.header-wrapper {
	z-index: 25;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	/* background: rgba(255,255,255,0);
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	box-shadow: 0 6px 12px rgba(variables.$colorBlack, 5%); */
	mix-blend-mode: difference;
}
.header-wrapper .header-inner {
	height: 50px;
	padding: 0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	/* .header-menu {
	    font-size: 0;

	    .menu-item {
	        display: inline-block;
	        vertical-align: top;

	        .link-menu {
	            padding: {
	                top: 5px;
	                bottom: 5px;
	            }

	            .text {
	                font-weight: 700;
	            }
	        }

	        &:not(:last-child) {
	            margin-right: 10px;
	        }
	    }
	} */
}
.header-wrapper .header-inner .link-logo {
	display: block;
	/* width: 40px;
	height: 40px;
	@include mixins.ratio_images('/assets/images/common/comm_memoji', cover, 0 0, '', 'png'); */
}
.header-wrapper .header-inner .link-logo .text {
	font-weight: 500;
	color: #fff;
}
.header-wrapper .header-inner .btn-scroll-to-contact .text {
	font-weight: 500;
	color: #fff;
}
.header-wrapper .header-inner:after {
	content: "";
	display: inline-block;
	width: calc(100% - 40px);
	height: 1px;
	background-color: #fff;
	position: absolute;
	left: 20px;
	bottom: 0;
}
@media (min-width: 891px) {
	.header-wrapper .header-inner {
		max-width: 1150px;
		margin: 0 auto;
	}
}

/* e : header */
/* s : footer */
.footer-wrapper {
	position: sticky;
	bottom: 0;
	left: 0;
	z-index: -1;
	background-color: #000;
	color: #fff;
}
.footer-wrapper .footer-inner {
	max-width: 1150px;
	padding: 29px 20px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-webkit-box-align: start;
	-moz-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
}
.footer-wrapper .footer-inner .copyright {
	font-size: 12px;
}

/* e : footer */
/* s : grid */
@media (min-width: 891px) {
	body {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

/* floating */
.floating-wrapper {
	z-index: 9;
	position: fixed;
	bottom: calc(30px + env(safe-area-inset-bottom));
	right: 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: end;
	-moz-box-align: end;
	-ms-flex-align: end;
	-webkit-align-items: flex-end;
	align-items: flex-end;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-moz-box-orient: vertical;
	-moz-box-direction: reverse;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.floating-wrapper .btn-go-top {
	display: none;
	width: 42px;
	height: 42px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	opacity: 0;
	border-radius: 42px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.floating-wrapper .btn-go-top .ico-top {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	opacity: 0;
	background: url("../images/common/comm_go_top.svg") 0 0 no-repeat;
	background-size: cover;
	-moz-transform: translateY(10px);
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
}
.floating-wrapper .btn-go-top.is-hide {
	display: block;
	opacity: 1;
	-moz-animation: topHide 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
	-webkit-animation: topHide 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
	animation: topHide 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}
.floating-wrapper .btn-go-top.is-active {
	display: block;
	opacity: 0;
	-moz-animation: opacityActive 0.2s 0.15s ease-out forwards;
	-webkit-animation: opacityActive 0.2s 0.15s ease-out forwards;
	animation: opacityActive 0.2s 0.15s ease-out forwards;
}
.floating-wrapper .btn-go-top.is-active .ico-top {
	-moz-animation: goTopIcoActive 0.3s 0.25s cubic-bezier(0.17, 0.67, 0.29, 1.32) forwards;
	-webkit-animation: goTopIcoActive 0.3s 0.25s cubic-bezier(0.17, 0.67, 0.29, 1.32) forwards;
	animation: goTopIcoActive 0.3s 0.25s cubic-bezier(0.17, 0.67, 0.29, 1.32) forwards;
	opacity: 0;
	-moz-transform: translateY(10px);
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
}
@media (min-width: 891px) {
	.floating-wrapper {
		right: 20px;
		bottom: 20px;
	}
	.floating-wrapper .btn-go-top {
		margin-left: auto;
		margin-right: auto;
	}
}

/* container */
.container-wrapper {
	position: relative;
}
@media (max-width: 890px) {
	.container-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		-webkit-box-align: stretch;
		-moz-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-moz-box-orient: vertical;
		-moz-box-direction: reverse;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
		flex-direction: column;
		min-height: var(--reVh, 1vh);
	}
	.container-wrapper .cont-box {
		width: 100%;
	}
	.container-wrapper .cont-box:first-child .cont-inner {
		padding-top: 125px;
	}
	.container-wrapper .cont-box:nth-last-of-type(1) .cont-inner {
		padding-bottom: calc(65px + env(safe-area-inset-bottom));
	}
}
@media (min-width: 891px) {
	.container-wrapper {
		padding-top: 135px;
		padding-bottom: 100px;
	}
}

.cont-box {
	position: relative;
	max-width: 1150px;
	margin: 0 auto;
}
.cont-box .cont-inner {
	position: relative;
	padding: 0 20px;
}
@media (max-width: 890px) {
	.cont-box {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

/* wrapper */
@media (min-width: 891px) {
	.wrapper {
		background: transparent;
	}
	.wrapper:not(.ui-dialog) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: stretch;
		-moz-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-moz-box-orient: vertical;
		-moz-box-direction: reverse;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	.wrapper .cont-box {
		padding-top: 0;
	}
	.wrapper .cont-box .cont-inner {
		padding: 0;
	}
	.wrapper .cont-box ~ .cont-box .cont-inner {
		padding-top: 120px;
	}
	.wrapper .footer-wrapper {
		margin-top: auto;
	}
}

/* e : grid */
/*# sourceMappingURL=portfolio_front.css.map */
