@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@font-face {
	font-family: "Pretendard";
	font-weight: 600;
	font-display: fallback;
	src: url("../font/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 500;
	font-display: fallback;
	src: url("../font/Pretendard-Medium.woff") format("woff");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 400;
	font-display: fallback;
	src: url("../font/Pretendard-Regular.woff") format("woff");
}
@font-face {
	font-family: "NewYork";
	font-weight: 400;
	font-display: fallback;
	src: url("../font/NewYork-PERSONAL-USE.woff") format("woff");
}
/* s : reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	min-height: var(--reVh, 1vh);
	scroll-behavior: smooth;
}

body {
	width: 100%;
	color: #000;
	background-color: #fff;
}

html, body {
	font-family: "Montserrat", "Pretendard", "SF Pro Display", AppleSDGothicNeo-Light, Helvetica, "Malgun Gothic", "MalgunGothic", "맑은고딕", sans-serif !important; /*overscroll-behavior-y: none;*/
}

ol, ul, nav {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

a {
	text-decoration: none;
	color: inherit;
}

select, input, button, textarea {
	display: inline-block;
	font-family: "Montserrat", "Pretendard", "SF Pro Display", AppleSDGothicNeo-Light, Helvetica, "Malgun Gothic", "MalgunGothic", "맑은고딕", sans-serif !important;
	font-size: 13px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: 500;
}

embed, object {
	position: absolute;
}

button {
	padding: 0;
	margin: 0;
	vertical-align: top;
	cursor: pointer;
	background-color: transparent;
	border: 0;
}

img {
	vertical-align: top;
	max-width: 100%;
}

input {
	vertical-align: top;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	line-height: 14px;
	border-radius: 0;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-overflow-scrolling: touch;
}

textarea[disabled],
textarea[readonly],
select[disabled],
select[readonly],
input[disabled],
input[readonly] {
	cursor: default !important;
	-webkit-overflow-scrolling: touch;
}

input[disabled] + label,
input[readonly] + label {
	cursor: default !important;
}

textarea {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 110px;
	padding: 7px 10px 7px;
	border: 1px solid #ddd;
	color: #111;
	line-height: 16px;
	border-radius: 0;
	vertical-align: top;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}

select::-ms-expand {
	display: none;
}

input::-webkit-input-placeholder {
	color: #999;
	line-height: 14px;
}

/* 크롬 4–56 : placeholder style */
input:-moz-placeholder {
	color: #999;
	line-height: 14px;
}

/* 파이어폭스 4–18 : placeholder style */
input::-moz-placeholder {
	color: #999;
	line-height: 14px;
}

/* 파이어폭스 19–50 : placeholder style */
input:-ms-input-placeholder {
	color: #999;
	line-height: 14px;
}

/* 인터넷 익스플로러 10+ : placeholder style */
input::-webkit-input-placeholder {
	color: #999;
	line-height: 14px;
}

input:-ms-input-placeholder {
	color: #999;
	line-height: 14px;
}

input::-ms-input-placeholder {
	color: #999;
	line-height: 14px;
}

input::placeholder {
	color: #999;
	line-height: 14px;
}

/* 파이어폭스 51+, 크롬 57+ : placeholder style */
input[type=button]:hover {
	cursor: pointer;
}

input[type=button]:disabled {
	cursor: default;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

button, input, select, textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: top;
}

button {
	vertical-align: top;
	cursor: pointer;
}

strong {
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6, pre {
	font-weight: 700;
	font-size: 100%;
	line-height: 1;
}

caption, legend {
	width: 0;
	height: 0;
	font-size: 1px;
	text-indent: -9999rem;
	line-height: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

a, a:active, a:focus, a:hover, a:link, a:visited,
button, button:active, button:focus, button:hover, button:visited,
textarea, textarea:active, textarea:focus, textarea:hover,
select, select:active, select:focus, select:hover {
	text-decoration: none;
}

.btn:focus, a.btn:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

a.disabled,
button[disabled],
input[disabled] {
	pointer-events: none;
	cursor: default;
}

input::-ms-clear {
	display: none;
}

header, footer, article, section, aside, details, figure, figcaption, nav, hgroup {
	display: block;
	margin: 0;
	padding: 0;
}

audio[controls], canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

button, input, select, textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: baseline;
	*vertical-align: middle;
}

button, input {
	line-height: normal;
	*overflow: visible;
}

table button, table input {
	*overflow: auto;
	-webkit-overflow-scrolling: touch;
}

button, html input[type=button], input[type=reset], input[type=submit] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
}

input[type=search] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

textarea::-webkit-scrollbar {
	width: 3px;
	border-radius: 1.5px;
}

textarea::-webkit-scrollbar-thumb {
	background: #ccc;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: "Montserrat", "Pretendard", "SF Pro Display", AppleSDGothicNeo-Light, Helvetica, "Malgun Gothic", "MalgunGothic", "맑은고딕", sans-serif !important;
}

/* Disable orange highlight */
label, a, button, select {
	-o-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
	padding: 0;
	background-color: transparent;
	border-width: 0;
	outline: none;
	font-family: "Montserrat", "Pretendard", "SF Pro Display", AppleSDGothicNeo-Light, Helvetica, "Malgun Gothic", "MalgunGothic", "맑은고딕", sans-serif !important;
	text-align: center;
}

::selection {
	background-color: #e1ff01;
	color: #000;
}

::-moz-selection {
	background-color: #e1ff01;
	color: #000;
}

::-webkit-selection {
	background-color: #e1ff01;
	color: #000;
}

/* e : reset */
/* s : header */
.header-wrapper {
	z-index: 25;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	mix-blend-mode: difference;
}
.header-wrapper .header-inner {
	height: 50px;
	padding: 0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
}
.header-wrapper .header-inner .link-logo {
	display: block;
}
.header-wrapper .header-inner .link-logo .text {
	font-weight: 500;
	color: #fff;
}
.header-wrapper .header-inner .btn-scroll-to-contact .text, .header-wrapper .header-inner .btn-link .text {
	font-weight: 500;
	color: #fff;
}
.header-wrapper .header-inner:after {
	content: "";
	display: inline-block;
	width: calc(100% - 40px);
	height: 1px;
	background-color: #fff;
	position: absolute;
	left: 20px;
	bottom: 0;
}
@media (min-width: 891px) {
	.header-wrapper .header-inner {
		position: relative;
		max-width: 1150px;
		margin: 0 auto;
	}
}

/* e : header */
/* s : footer */
.footer-wrapper {
	background-color: #000;
}
.footer-wrapper .footer-inner {
	max-width: 1150px;
	padding: 29px 20px;
	margin: 0 auto;
}
.footer-wrapper .footer-inner .cont-title-wrap .cont-tit {
	color: #fff;
}
.footer-wrapper .footer-inner .link-email {
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
	vertical-align: top;
	font-size: 26px;
	line-height: 34px;
	letter-spacing: -0.025em;
	font-weight: 400;
	color: #fff;
}
.footer-wrapper .footer-inner .link-email:after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: "";
	display: inline-block;
	width: 100%;
	height: 1px;
	background-color: #fff;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 800ms cubic-bezier(0.23, 1, 0.32, 1);
}
.footer-wrapper .footer-inner .link-email:hover:after {
	transform: scaleX(1);
}
.footer-wrapper .footer-inner .btext {
	margin-bottom: 20px;
	color: #fff;
}
.footer-wrapper .footer-inner .copyright {
	font-size: 12px;
	color: #666;
}

/* e : footer */
/* s : grid */
@media (min-width: 891px) {
	body {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

/* floating */
.floating-wrapper {
	z-index: 9;
	position: fixed;
	bottom: calc(30px + env(safe-area-inset-bottom));
	right: 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: end;
	-moz-box-align: end;
	-ms-flex-align: end;
	-webkit-align-items: flex-end;
	align-items: flex-end;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-moz-box-orient: vertical;
	-moz-box-direction: reverse;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.floating-wrapper .btn-go-top {
	display: none;
	width: 42px;
	height: 42px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	opacity: 0;
	border-radius: 42px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.floating-wrapper .btn-go-top .ico-top {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	opacity: 0;
	background: url("../images/common/comm_go_top.svg") 0 0 no-repeat;
	background-size: cover;
	-moz-transform: translateY(10px);
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
}
.floating-wrapper .btn-go-top.is-hide {
	display: block;
	opacity: 1;
	-moz-animation: topHide 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
	-webkit-animation: topHide 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
	animation: topHide 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}
.floating-wrapper .btn-go-top.is-active {
	display: block;
	opacity: 0;
	-moz-animation: opacityActive 0.2s 0.15s ease-out forwards;
	-webkit-animation: opacityActive 0.2s 0.15s ease-out forwards;
	animation: opacityActive 0.2s 0.15s ease-out forwards;
}
.floating-wrapper .btn-go-top.is-active .ico-top {
	-moz-animation: goTopIcoActive 0.3s 0.25s cubic-bezier(0.17, 0.67, 0.29, 1.32) forwards;
	-webkit-animation: goTopIcoActive 0.3s 0.25s cubic-bezier(0.17, 0.67, 0.29, 1.32) forwards;
	animation: goTopIcoActive 0.3s 0.25s cubic-bezier(0.17, 0.67, 0.29, 1.32) forwards;
	opacity: 0;
	-moz-transform: translateY(10px);
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
}
@media (min-width: 891px) {
	.floating-wrapper {
		right: 20px;
		bottom: 20px;
	}
	.floating-wrapper .btn-go-top {
		margin-left: auto;
		margin-right: auto;
	}
}

/* container */
.container-wrapper {
	position: relative;
	z-index: 2;
}
@media (max-width: 890px) {
	.container-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		-webkit-box-align: stretch;
		-moz-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-moz-box-orient: vertical;
		-moz-box-direction: reverse;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
		flex-direction: column;
		min-height: var(--reVh, 1vh);
	}
	.container-wrapper .cont-box, .container-wrapper .gcont-box {
		width: 100%;
	}
	.container-wrapper .cont-box:first-child .cont-inner, .container-wrapper .gcont-box:first-child .cont-inner {
		padding-top: 125px;
	}
	.container-wrapper .cont-box:nth-last-of-type(1) .cont-inner, .container-wrapper .gcont-box:nth-last-of-type(1) .cont-inner {
		padding-bottom: calc(65px + env(safe-area-inset-bottom));
	}
}
@media (min-width: 891px) {
	.container-wrapper {
		padding-bottom: 100px;
	}
	.container-wrapper .intro-box {
		padding-top: 135px;
	}
}

.cont-box, .gcont-box {
	position: relative;
	max-width: 1150px;
	margin: 0 auto;
}
.cont-box .cont-inner, .gcont-box .cont-inner {
	position: relative;
	padding: 0 20px;
}
@media (max-width: 890px) {
	.cont-box, .gcont-box {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.gcont-box {
	background-color: #f7f7f7;
}

/* wrapper */
@media (min-width: 891px) {
	.wrapper {
		background: transparent;
	}
	.wrapper:not(.ui-dialog) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: stretch;
		-moz-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-moz-box-orient: vertical;
		-moz-box-direction: reverse;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	.wrapper .cont-box ~ .cont-box {
		margin-top: 120px;
	}
	.wrapper .footer-wrapper {
		margin-top: auto;
	}
}

/* e : grid */
/* s: common */
span {
	word-break: normal;
}

.ft-eng {
	font-family: "NewYork", serif !important;
}

.reveal-tg.reveal {
	animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

/* 메뉴, 본문 스킵 네비게이션 */
.skip-nav {
	position: absolute;
	font-size: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;
}
.skip-nav a {
	position: absolute;
	display: inline-block;
	color: #fff;
	width: 100%;
	padding: 10px;
	background: #000;
	text-align: center;
	font-size: 13px;
	left: 0;
	right: 0;
	top: 0;
	box-sizing: border-box;
}
.skip-nav a:not(:focus) {
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

/* 화면에서 숨김 */
.offscreen {
	position: absolute !important;
	display: block;
	overflow: hidden;
	height: 1px;
	width: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	font-size: 14px !important;
}

/* 타이틀 */
.cont-tit-sm, .cont-tit {
	overflow: hidden;
}
.cont-tit-sm .reveal-item, .cont-tit .reveal-item {
	display: inline-block;
	transform: translateY(100%);
	animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.cont-tit-sm span:not(.ft-eng), .cont-tit span:not(.ft-eng) {
	font-size: inherit;
	font-weight: inherit;
}

.cont-title-wrap {
	margin-bottom: 20px;
}

.cont-tit {
	font-size: 26px;
	line-height: 34px;
	letter-spacing: -0.025em;
	font-weight: 600;
}

.cont-tit-sm {
	font-size: 22px;
	line-height: 28px;
	letter-spacing: -0.025em;
	font-weight: 600;
}

.scont-tit {
	margin-bottom: 10px;
	overflow: hidden;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: -0.025em;
	font-weight: 500;
}
.scont-tit ~ .scont-tit {
	margin-top: 30px;
}

.scont-tit-sm {
	font-size: 15px;
	line-height: 20px;
	letter-spacing: -0.025em;
	font-weight: 500;
	margin-bottom: 10px;
}
.scont-tit-sm ~ .scont-tit-sm {
	margin-top: 25px;
}

.btext {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.025em;
	font-weight: 400;
	line-height: 22px;
}

.btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	height: 50px;
	padding: 0 24px;
	border-radius: 4px;
	font-weight: 500;
}
.btn .text {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.025em;
	font-weight: 400;
	text-align: center;
}
.btn.btn-black {
	background-color: #000;
}
.btn.btn-black .text {
	color: #fff;
}
.btn.btn-light-gray {
	border: 1px solid #000;
}

.btn-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	margin-top: 30px;
}
.btn-wrap .btn ~ .btn {
	margin-left: 10px;
}
@media (max-width: 890px) {
	.btn-wrap .btn {
		flex: 1 0 0;
	}
}

.tag-wrap {
	font-size: 0;
	margin-top: -1px;
	margin-left: -2px;
	margin-right: -1px;
	margin-bottom: -2px;
}
.tag-wrap .tag {
	overflow: hidden;
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	vertical-align: top;
	border: 1px solid #DDE0E3;
	margin: 1px 1px 2px 2px;
	padding: 2px 7px 3px;
	border-radius: 20px;
	font-size: 0;
}
.tag-wrap .tag .text {
	display: inline-block;
	position: relative;
	color: #000;
	vertical-align: top;
	font-size: 10px;
	line-height: 13px;
	letter-spacing: -0.025em;
	color: #000;
}

.tbl-info tr th, .tbl-info tr td {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.025em;
	font-weight: 400;
	text-align: left;
	vertical-align: top;
	word-break: break-all;
	padding-top: 10px;
}
.tbl-info tr th {
	padding-right: 10px;
}
.tbl-info tr td .tag {
	line-height: 0;
}

.info-text-list .info-text {
	position: relative;
	padding-left: 8px;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.025em;
	font-weight: 400;
	line-height: 22px;
}
.info-text-list .info-text:before {
	display: block;
	position: absolute;
	left: 0;
	content: "";
	top: 9px;
	width: 3px;
	height: 3px;
	border-radius: 2px;
	background-color: #FFC366;
}
.info-text-list .info-text + .info-text {
	margin-top: 6px;
}

.info-sub-list {
	margin-top: 6px;
}
.info-sub-list .dash-text {
	position: relative;
	padding-left: 8px;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.025em;
	font-weight: 400;
	line-height: 22px;
	word-break: break-word;
}
.info-sub-list .dash-text:before {
	display: block;
	position: absolute;
	left: 0;
	content: "-";
	top: 0;
}
.info-sub-list .dash-text ~ .dash-text {
	margin-top: 6px;
}

/* s : icon */
.ico-sparkles {
	display: inline-block;
	position: relative;
	vertical-align: top;
	overflow: hidden;
}

.ico-sparkles {
	width: 73px;
	height: 73px;
	background: url("../images/common/comm_ico_sparkles.svg") 0 0 no-repeat;
	background-size: cover;
}

/* e : icon */
/* s : keyframes */
@keyframes reveal {
	0% {
		opacity: 0;
		-moz-transform: translateY(30px);
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes wave-name {
	0% {
		-moz-transform: rotateZ(2deg);
		-webkit-transform: rotateZ(2deg);
		transform: rotateZ(2deg);
	}
	100% {
		-moz-transform: rotateZ(-2deg);
		-webkit-transform: rotateZ(-2deg);
		transform: rotateZ(-2deg);
	}
}
@keyframes moving-sparkle {
	0% {
		-moz-transform: scale(0.8);
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes opacityActive {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes goTopIcoActive {
	0% {
		opacity: 0;
		-moz-transform: translateY(10px);
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes topHide {
	0% {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-moz-transform: scale(0);
		-webkit-transform: scale(0);
		transform: scale(0);
	}
}
/* e : keyframes */
/* s : main */
.wrapper.main {
	/* 본문 텍스트 */
}
.wrapper.main .intro-desc {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.025em;
	font-weight: 400;
}
.wrapper.main .tab-list {
	font-size: 0;
	margin-bottom: 20px;
}
.wrapper.main .tab-list .tab-item {
	display: inline-block;
	vertical-align: top;
}
.wrapper.main .tab-list .tab-item .btn-tab {
	color: inherit;
}
.wrapper.main .tab-list .tab-item .btn-tab .text {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.025em;
	font-weight: 500;
	opacity: 0.3;
}
.wrapper.main .tab-list .tab-item.active .btn-tab {
	cursor: text;
}
.wrapper.main .tab-list .tab-item.active .text {
	opacity: 1;
}
.wrapper.main .tab-list .tab-item + .tab-item {
	position: relative;
	margin-left: 12px;
	padding-left: 13px;
}
.wrapper.main .tab-list .tab-item + .tab-item:before {
	content: "";
	position: absolute;
	display: inline-block;
	width: 1px;
	height: 12px;
	background: #e5e5e5;
	left: 0;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.wrapper.main .intro-box .cont-title-wrap {
	margin-bottom: 56px;
}
.wrapper.main .intro-box .cont-title-wrap .cont-tit {
	position: relative;
	z-index: 1;
	font-size: 40px;
	line-height: 40px;
	font-weight: 600;
}
.wrapper.main .intro-box .cont-title-wrap .cont-tit .ft-eng {
	font-size: 50px;
	line-height: 59px;
}
.wrapper.main .intro-box .cont-title-wrap .cont-tit .ft-eng .wave-name {
	display: inline-block;
	animation: wave-name 0.6s infinite alternate;
	vertical-align: top;
}
.wrapper.main .intro-box .cont-title-wrap .cont-tit .ft-eng .wave-name ~ .wave-name {
	margin-left: 15px;
}
.wrapper.main .intro-box .ico-sparkles {
	position: absolute;
	z-index: 0;
	top: 90px;
	left: 0;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-moz-transition: transform 0.5s ease-out;
	-webkit-transition: transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
	opacity: 0.8;
}
.wrapper.main .intro-box .intro-text-box {
	margin-bottom: 50px;
	word-break: break-word;
}
@media (max-width: 890px) {
	.wrapper.main .intro-box .intro-text-box .intro-tit {
		font-weight: 500;
	}
	.wrapper.main .intro-box .intro-text-box .desc {
		font-size: 14px;
		line-height: 18px;
		letter-spacing: -0.025em;
		font-weight: 400;
	}
}
@media (min-width: 891px) {
	.wrapper.main .intro-box .cont-inner {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: end;
		-moz-box-align: end;
		-ms-flex-align: end;
		-webkit-align-items: flex-end;
		align-items: flex-end;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	.wrapper.main .intro-box .cont-inner .left-area {
		width: 50%;
	}
	.wrapper.main .intro-box .cont-inner .left-area .cont-title-wrap .cont-tit {
		font-size: 80px;
		line-height: 80px;
	}
	.wrapper.main .intro-box .cont-inner .left-area .cont-title-wrap .cont-tit .ft-eng {
		font-size: 80px;
		line-height: 89px;
	}
	.wrapper.main .intro-box .cont-inner .left-area .ico-sparkles {
		left: -27px;
		animation: moving-sparkle 1s infinite alternate;
	}
	.wrapper.main .intro-box .cont-inner .left-area .intro-text-box {
		width: 70%;
		margin-bottom: 0;
		word-break: break-word;
	}
}
.wrapper.main .work-box .experience-list .experience-item {
	-moz-transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transform: translateY(100%);
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.wrapper.main .work-box .experience-list .experience-item .img-area {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: end;
	-moz-box-align: end;
	-ms-flex-align: end;
	-webkit-align-items: flex-end;
	align-items: flex-end;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	width: 100%;
	padding: 15px;
	aspect-ratio: 960/612;
	overflow: hidden;
}
.wrapper.main .work-box .experience-list .experience-item .img-area .thumb-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 8px;
	background: url("../images/common/comm_img_no_data.jpg") center no-repeat;
	background-size: cover;
	overflow: hidden;
}
.wrapper.main .work-box .experience-list .experience-item .img-area .thumb-box img {
	position: absolute;
	top: 0;
	left: 50%;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-moz-transition: 0.42s cubic-bezier(0.28, 0.11, 0.32, 1);
	-webkit-transition: 0.42s cubic-bezier(0.28, 0.11, 0.32, 1);
	transition: 0.42s cubic-bezier(0.28, 0.11, 0.32, 1);
}
.wrapper.main .work-box .experience-list .experience-item .img-area .fake-btn-text {
	position: relative;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FAFAFA;
	border-radius: 5em;
	padding: 6px;
	max-width: 30px;
	transition: 0.6s all cubic-bezier(0.55, 0, 0.1, 1);
}
.wrapper.main .work-box .experience-list .experience-item .img-area .fake-btn-text .text {
	display: inline-flex;
	align-items: flex-end;
	overflow: hidden;
	opacity: 0;
	transition: 0.6s all cubic-bezier(0.55, 0, 0.1, 1);
	white-space: nowrap;
	color: #000;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.025em;
}
.wrapper.main .work-box .experience-list .experience-item .img-area .fake-btn-text svg {
	width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	transform: rotate(-45deg);
	transition: 0.6s transform cubic-bezier(0.55, 0, 0.1, 1);
}
.wrapper.main .work-box .experience-list .experience-item .img-area .media-emoji {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	font-size: 37px;
	opacity: 0;
	transition: 0.4s opacity cubic-bezier(0.55, 0, 0.1, 1);
}
.wrapper.main .work-box .experience-list .experience-item .info-area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-webkit-box-align: start;
	-moz-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	margin-top: 15px;
}
.wrapper.main .work-box .experience-list .experience-item .info-area .title {
	font-size: 16px;
	line-height: 22px;
	letter-spacing: -0.025em;
	font-weight: 400;
	line-height: "md";
}
.wrapper.main .work-box .experience-list .experience-item .info-area .service-type {
	color: #757575;
}
.wrapper.main .work-box .experience-list .experience-item .link-site {
	position: relative;
}
.wrapper.main .work-box .experience-list .experience-item .link-site:hover .fake-btn-text {
	max-width: 100%;
	padding-right: 10px;
	padding-left: 10px;
}
.wrapper.main .work-box .experience-list .experience-item .link-site:hover .fake-btn-text .text {
	padding-right: 11px;
	opacity: 1;
}
.wrapper.main .work-box .experience-list .experience-item .link-site:hover .fake-btn-text svg {
	transform: rotate(0);
}
.wrapper.main .work-box .experience-list .experience-item .link-site:hover .media-emoji {
	opacity: 1;
}
.wrapper.main .work-box .experience-list .experience-item.reveal {
	opacity: 1;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.wrapper.main .work-box .experience-list .experience-item ~ .experience-item {
	margin-top: 35px;
}
@media (min-width: 600px) {
	.wrapper.main .work-box .experience-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		gap: 50px 30px;
	}
	.wrapper.main .work-box .experience-list .experience-item:hover .thumb-box img {
		-moz-transform: translateX(-50%) scale(1.1);
		-webkit-transform: translateX(-50%) scale(1.1);
		transform: translateX(-50%) scale(1.1);
	}
	.wrapper.main .work-box .experience-list .experience-item ~ .experience-item {
		margin-top: 0;
	}
}
.wrapper.main .footer-wrapper {
	position: sticky;
	bottom: 0;
	left: 0;
	z-index: 1;
}
@media (max-width: 890px) {
	.wrapper.main .header-wrapper.scroll-down ~ .container-wrapper .intro-box .ico-sparkles {
		-moz-transform: translateY(30px);
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}
}

/* e : main */
/* s : detail */
.detail-wrap .img-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-moz-box-orient: vertical;
	-moz-box-direction: reverse;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	height: 60vh;
	position: relative;
	text-align: center;
}
.detail-wrap .img-box:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.45);
}
.detail-wrap .img-box .title {
	position: relative;
	z-index: 1;
	font-size: 26px;
	line-height: 34px;
	letter-spacing: -0.025em;
	font-weight: 600;
	color: #fff;
	text-align: center;
}
.detail-wrap .img-box .sub-title {
	position: relative;
	z-index: 1;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: -0.025em;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
}
.detail-wrap .img-box.namyang {
	background: url("/assets/images/experience/namyang_company_detail_bg.jpg") center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.detail-wrap .img-box.hansol-vhom {
	background: url("/assets/images/experience/hansol_vhom_detail_bg.png") center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.detail-wrap .img-box.kyobobook {
	background: url("/assets/images/experience/kyobo_book_detail_bg.jpg") center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.detail-wrap .img-box.lotte-eatz {
	background: url("/assets/images/experience/lotte_eatz_detail_bg.png") center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.detail-wrap .img-box.kt-caike {
	background: url("/assets/images/experience/kt_caike_detail_bg.png") center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.detail-wrap .img-box.kt-mrss {
	background: url("/assets/images/experience/kt_mrss_detail_bg.png") center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.detail-wrap .img-box.bucket {
	background: url("/assets/images/experience/bucket_detail_bg.png") center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.detail-wrap .img-box.gugus {
	background: url("/assets/images/experience/gugus_detail_bg.jpg") center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.detail-wrap .img-box.glim {
	background: url("/assets/images/experience/glim_detail_bg.png") center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.detail-wrap .img-box.descente {
	background: url("/assets/images/experience/descente_detail_bg.png") center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.detail-wrap .info-box .left-area .cont-tit-sm {
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 2px solid #222;
}
@media (max-width: 890px) {
	.detail-wrap .right-area {
		margin-top: 40px;
	}
}
@media (min-width: 891px) {
	.detail-wrap .img-box {
		margin-bottom: 60px;
	}
	.detail-wrap .img-box .title {
		font-size: 60px;
		line-height: 73px;
	}
	.detail-wrap .img-box .sub-title {
		margin-top: -57px;
		font-size: 100px;
		line-height: 122px;
		font-weight: 900;
		color: rgba(255, 255, 255, 0.1);
	}
	.detail-wrap .info-box {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: start;
		-moz-box-align: start;
		-ms-flex-align: start;
		-webkit-align-items: flex-start;
		align-items: flex-start;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	.detail-wrap .info-box .left-area, .detail-wrap .info-box .right-area {
		flex: 1 0 0;
	}
	.detail-wrap .info-box .right-area {
		margin-left: 60px;
	}
}

.main-img-box img {
	max-width: 100%;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.next-work-list {
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
}
.next-work-list .work-item .link-work {
	position: relative;
	display: inline-block;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: top;
	overflow: hidden;
}
.next-work-list .work-item .link-work .text {
	font-size: 16px;
	line-height: 22px;
	letter-spacing: -0.025em;
	font-weight: 400;
}
.next-work-list .work-item .link-work:after {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	-moz-transform: translateY(100%);
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	background-color: rgba(225, 255, 1, 0.3);
}
.next-work-list .work-item .link-work:hover:after {
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
	z-index: -1;
}
.next-work-list .work-item ~ .work-item {
	border-top: 1px solid #222;
}

/* e : detail */
/*# sourceMappingURL=portfolio_front.css.map */
