@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

/* s : main */
.wrapper {
    &.main {
        .container-wrapper {
            background-color: variables.$colorBlack;
        }
        
        // intro
        .intro-box {
            //position: relative;
            position: sticky;
            top: 0;
            height: 100vh;
            @include mixins.justify_width(center, center);
            background-color: variables.$colorBlack;
            color: variables.$colorWhite;

            .intro-tit {
                position: relative;
                text-align: center;
                padding-bottom: 0.32em;
                line-height: 1.2;
                --introAfterOpacity: 1;
                --introAfterScale: 1;
                z-index: 2;

                .reveal {
                    position: relative;
                    z-index: 2;
                    display: block;
                    overflow: hidden;

                    .ft-eng {
                        display: inline-block;
                        font-size: inherit;
                        font-weight: 300;
                        vertical-align: top;
                        font-weight: variables.$fontWeightSemibold;
                    }

                    span {
                        display: inline-block;
                        font-size: inherit;

                        &:not(.ft-eng) {
                            font-weight: variables.$fontWeightMedium;
                        }
                    }
                }

                &:after {
                    position: absolute;
                    bottom: 1.5em;
                    right: -1vw;
                    content: '';
                    display: inline-block;
                    width: 10vw;
                    height: 10vw;
                    opacity: var(--introAfterOpacity);
                    @include mixins.ratio_images('../images/common/comm_ico_sparkles');
                    @include mixins.prefix(transform, scale(var(--introAfterScale)));
                    z-index: 1;
                }
            }

            .three-bg {
                position: absolute;
                top: 10px;
                right: 10px;
                bottom: 10px;
                left: 10px;
                width: calc(100% - 20px);
                height: calc(100% - 20px);
                border-radius: 1vw;
                overflow: hidden;
                pointer-events: none;
                opacity: .4;
            }
        }

        // cover contents
        .cover-contents {
            position: relative;
            z-index: 1;
            border-radius: 20px 20px 0 0;
            background-color: variables.$colorWhite;

            // about
            .about-box {
                .cont-title-wrap {
                    margin-bottom: 25px;
    
                    .cont-tit {
                        position: relative;
                        z-index: 1;
                        font-size: 40px;
                        line-height: 40px;
                        font-weight: variables.$fontWeightSemibold;
            
                        .ft-eng {
                            font-size: 50px;
                            line-height: 59px;
            
                            .wave-name {
                                display: inline-block;
                                animation: waveName 0.6s infinite alternate;
                                vertical-align: top;
            
                                ~ .wave-name {
                                    margin-left: 15px;
                                }
                            }
                        }
                    }
                }
            
                .ico-sparkles {
                    position: absolute;
                    z-index: 0;
                    top: 90px;
                    left: 0;
                    @include mixins.prefix(transform, translateY(0));
                    @include mixins.prefix(transition, transform 0.5s ease-out);
                    opacity: .8;
                }
            
                .intro-text {
                    margin-bottom: 50px;
                    word-break: keep-all;
                }
            
                //mobile
                @include mixins.size_mobile {
                    .ico-sparkles {
                        &.is-down {
                            @include mixins.prefix(transform, translateY(30px));
                        }
                    }
                    .intro-text {
                        @include mixins.font_size_rgl;
                    }
                }
            
                //pc
                @include mixins.size_desktop {
                    .cont-inner {
                        .left-area {
                            width: 50%;
            
                            .cont-title-wrap {
                                .cont-tit {
                                    font-size: 80px;
                                    line-height: 80px;
            
                                    .ft-eng {
                                        font-size: 80px;
                                        line-height: 89px;
                                    }
                                }
                            }
    
                            .ico-sparkles {
                                left: -27px;
                                animation: moving-sparkle 1s infinite alternate;
                            }
            
                            .intro-text {
                                width: 70%;
                                margin-bottom: 0;
                            }
                        }
                    }
                 }
            }
            
            // 구버전 work experience
            /* .work-box {
                .cont-title-wrap {
                    .cont-tit {
                        font-size: 30px;
                        line-height: 34px;
                    }

                    .stext {
                        margin-top: 5px;
                        @include mixins.font_size_lg;
                    }
                }

                // experience list
                .experience-list {
                    .experience-item {
                        @include mixins.prefix(transition, 1s cubic-bezier(.175,.885,.32,1.275));
                        @include mixins.prefix(transform, translateY(100%));
            
                        .img-area {
                            position: relative;
                            @include mixins.justify_width(end, start);
                            width: 100%;
                            padding: 15px;
                            aspect-ratio: 960 / 612;
                            overflow: hidden;
            
                            .thumb-box {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                border-radius: 8px;
                                @include mixins.ratio_images('../images/common/comm_img_no_data', cover, center, '', 'jpg');
                                overflow: hidden;
                    
                                img {
                                    position: absolute;
                                    top: 0;
                                    left: 50%;
                                    @include mixins.prefix(transform, translateX(-50%));
                                    width: 100%;
                                    height: 100%;
                                    -o-object-fit: cover;
                                    object-fit: cover;
                                    @include mixins.prefix(transition, .32s cubic-bezier(.28, .11, .32, 1));
                                }
                            }
                    
                            .fake-btn-text {
                                position: relative;
                                z-index: 5;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: rgba(#fff, 80%);
                                @include mixins.prefix(backdrop-filter, blur(20px));
                                border-radius: 5em;
                                padding: 6px;
                                max-width: 30px;
                                transition: .32s all cubic-bezier(.55,0,.1,1);
                    
                                .text {
                                    display: inline-flex;
                                    align-items: flex-end;
                                    overflow: hidden;
                                    opacity: 0;
                                    transition: .32s all cubic-bezier(.55,0,.1,1);
                                    white-space: nowrap;
                                    color: variables.$colorBlack;
                                    @include mixins.font_size_sm;
                                }
                    
                                svg {
                                    width: 18px;
                                    height: 18px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-shrink: 0;
                                    transform: rotate(-45deg);
                                    transition: .32s transform cubic-bezier(.55,0,.1,1);
                                }
                            }
                    
                            .media-emoji {
                                position: absolute;
                                z-index: 10;
                                top: 0;
                                left: 0;
                                font-size: 37px;
                                opacity: 0;
                                transition: .4s opacity cubic-bezier(.55,0,.1,1)
                            }

                            &:hover {
                                .media-emoji {
                                    opacity:1
                                }
                            }
                        }
            
                        .info-area {
                            @include mixins.justify_width(start, between);
                            margin-top: 15px;
            
                            .title {
                                @include mixins.font_size_lg('md');
                            }
            
                            .service-type {
                                color: variables.$colorGray01;
                            }
                        }
            
                        .link-site {
                            position: relative;
            
                            &:hover {
                                .fake-btn-text {
                                    max-width: 100%;
                                    padding: {
                                        right: 10px;
                                        left: 10px;
                                    }
                                }
                            
                                .fake-btn-text .text {
                                    margin-right: 8px;
                                    opacity: 1;
                                }
                            
                                .fake-btn-text svg {
                                    @include mixins.prefix(transform, rotate(0));
                                }
                            }
                        }
            
                        &.reveal {
                            opacity: 1;
                            @include mixins.prefix(transform, translateY(0));
                        }
            
                        ~ .experience-item {
                            margin-top: 35px;
                        }
                    }
                }
            
                @media (min-width: 600px) {
                    .experience-list {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
                        gap: 50px 30px;
            
                        .experience-item {
                            &:hover {
                                .thumb-box {
                    
                                    img {
                                        @include mixins.prefix(transform, translateX(-50%) scale(1.1));
                                    }
                                }
                            }
            
                            & ~ .experience-item {
                                margin-top: 0;
                            }
                        }
                    }
                }
            } */

            // work experience
            .work-box {
                // experience list
                .experience-list {
                    .experience-item {
                        @include mixins.prefix(transition, 1s cubic-bezier(.175,.885,.32,1.275));
                        @include mixins.prefix(transform, translateY(100%));
            
                        .img-area {
                            position: relative;
                            @include mixins.justify_width(end, start);
                            width: 100%;
                            padding: 15px;
                            aspect-ratio: 960 / 612;
                            overflow: hidden;
            
                            .thumb-box {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                border-radius: 8px;
                                @include mixins.ratio_images('../images/common/comm_img_no_data', cover, center, '', 'jpg');
                                overflow: hidden;
                    
                                img {
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    @include mixins.prefix(transform, translateY(-50%));
                                    width: 100%;
                                    height: 100%;
                                    -o-object-fit: cover;
                                    object-fit: cover;
                                    @include mixins.prefix(transition, .32s cubic-bezier(.28, .11, .32, 1));
                                }
                            }
                    
                            .fake-btn-text {
                                position: relative;
                                z-index: 5;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: rgba(#fff, 80%);
                                @include mixins.prefix(backdrop-filter, blur(20px));
                                border-radius: 5em;
                                padding: 6px;
                                max-width: 30px;
                                transition: .32s all cubic-bezier(.55,0,.1,1);
                    
                                .text {
                                    display: inline-flex;
                                    align-items: flex-end;
                                    overflow: hidden;
                                    opacity: 0;
                                    transition: .32s all cubic-bezier(.55,0,.1,1);
                                    white-space: nowrap;
                                    color: variables.$colorBlack;
                                    @include mixins.font_size_sm;
                                }
                    
                                svg {
                                    width: 18px;
                                    height: 18px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-shrink: 0;
                                    transform: rotate(-45deg);
                                    transition: .32s transform cubic-bezier(.55,0,.1,1);
                                }
                            }
                    
                            .media-emoji {
                                position: absolute;
                                z-index: 10;
                                top: 0;
                                left: 0;
                                font-size: 37px;
                                opacity: 0;
                                transition: .4s opacity cubic-bezier(.55,0,.1,1)
                            }

                            &:hover {
                                .media-emoji {
                                    opacity:1
                                }
                            }
                        }
            
                        .info-area {
                            @include mixins.justify_width(start, between);
                            margin-top: 15px;
            
                            .title {
                                @include mixins.font_size_lg('md');
                            }
            
                            .service-type {
                                color: variables.$colorGray01;
                            }
                        }
            
                        .link-site {
                            position: relative;
            
                            &:hover {
                                .fake-btn-text {
                                    max-width: 100%;
                                    padding: {
                                        right: 10px;
                                        left: 10px;
                                    }
                                }
                            
                                .fake-btn-text .text {
                                    margin-right: 8px;
                                    opacity: 1;
                                }
                            
                                .fake-btn-text svg {
                                    @include mixins.prefix(transform, rotate(0));
                                }
                            }
                        }
            
                        &.reveal {
                            opacity: 1;
                            @include mixins.prefix(transform, translateY(0));
                        }
            
                        ~ .experience-item {
                            margin-top: 35px;
                        }
                    }
                }
            }
        }


        // footer-wrapper
        .footer-wrapper {
            position: sticky;
            bottom: 0;
            left: 0;
            z-index: 1;
        }

        // size mobile
        @include mixins.size_mobile {
            .container-wrapper {
                .cont-box ~ .cont-box {
                    margin-top: 100px;
                }
    
                .intro-tit {
                    .reveal {
                        font-size: 12vw;
                    }
                }

                .cover-contents {
                    padding-top: 30px; 

                    .work-box {
                        .cont-title-wrap {
                            .stext {
                                margin-top: 5px;
                                @include mixins.font_size_lg;
                            }
                        }

                        .tab-list {
                            @include mixins.justify_width;
                            overflow-x: auto;
                            margin-bottom: 20px;
                
                            .tab-item {
                                display: inline-block;
                                vertical-align: top;
                
                                .btn-tab {
                                    color: inherit;
                                    
                                    .text {
                                        @include mixins.font_size_rgl('default', 'md');
                                        opacity: .3;
                                    }
                                }
                    
                                &.active {
                                    .btn-tab {
                                        cursor: text;
                                    }
                
                                    .text {
                                        opacity: 1;
                                    }
                                }
                
                                + .tab-item {
                                    position: relative;
                                    margin-left: 12px;
                                    padding-left: 13px;
                
                                    &:before {
                                        content: '';
                                        position: absolute;
                                        display: inline-block;
                                        width: 1px;
                                        height: 12px;
                                        background: #e5e5e5;
                                        left: 0;
                                        top: 50%;
                                        -moz-transform: translateY(-50%);
                                        -webkit-transform: translateY(-50%);
                                        transform: translateY(-50%);
                                      }
                                }
                            }
                        }
                    }
                }
            }
        }

        //size desktop {
        @include mixins.size_desktop {
            .container-wrapper {
                padding-bottom: 0;
                
                .cont-box ~ .cont-box {
                    margin-top: 150px;
                }
    
                .intro-box {
                    .cont-inner {
                        padding-top: 0;
                        
                        .intro-tit {
                            .reveal {
                                font-size: 8rem;
                                line-height: 136px;
                            }
                        }
                    }
                }

                .cover-contents {
                    padding: {
                        top: 120px;
                        bottom: 100px;
                    }
                    border-radius: 40px 40px 0 0;

                    .about-box {
                        .cont-inner {
                            @include mixins.justify_width(center, start);
                        }
                    }

                    .work-box {
                        padding-bottom: 240px;

                        .cont-title-wrap {
                            @include mixins.justify_width(center, center);
                            width: 100%;
                            margin-bottom: 0;
    
                            .cont-tit {
                                width: 100%;
                                font-size: 120px;
                                line-height: 1;
        
                                .word {
                                    display: block;
                                    font-family: variables.$fontEngDefault;
                                    font-size: inherit;
                                    line-height: inherit;
                                    text-align: center;
                                    color: #f9f9f9;
                                    font-weight: variables.$fontWeightRegular;
                                }
                            }
                            
                            .stext {
                                display: none;
                            }
                        }

                        .tab-list {
                            display: none;
                        }
    
                        .experience-list {
                            @include mixins.justify_width(start, between, row);
                            flex-wrap: wrap;
                            margin-top: 240px;
                
                            .experience-item {
                                width: 45%;
    
                                &:nth-child(2n) {
                                    margin-top: 200px;
                                }
    
                                &:hover {
                                    .thumb-box {
                                        img {
                                            @include mixins.prefix(transform, translateY(-50%) scale(1.1));
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
            }
        }
    }
}
/* e : main */