@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

/* s : detail */
.detail-wrap {
    .img-box {
        @include mixins.justify_width(center, center, column);
        height: 60vh;
        position: relative;
        text-align: center;

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            display: inline-block;
            width: 100%;
            height: 100%;
            background-color: rgba(variables.$colorBlack, .45);
        }

        .title {
            position: relative;
            z-index: 1;
            @include mixins.font_size_xxxl;
            color: variables.$colorWhite;
            text-align: center;
        }

        .sub-title {
            position: relative;
            z-index: 1;
            @include mixins.font_size_lg;
            color: rgba(variables.$colorWhite, 0.5);
            text-align: center;
        }

        // 남양 기업사이트
        &.namyang {
            @include mixins.ratio_images('/assets/images/experience/namyang_company_detail_bg', cover, center, '', 'jpg');
            background-attachment: fixed;
        }

        // 한솔홈데코 vhom
        &.hansol-vhom {
            @include mixins.ratio_images('/assets/images/experience/hansol_vhom_detail_bg', cover, center, '', 'png');
            background-attachment: fixed;
        }

        // 교보문고
        &.kyobobook {
            @include mixins.ratio_images('/assets/images/experience/kyobo_book_detail_bg', cover, center, '', 'jpg');
            background-attachment: fixed;
        }

        // 롯데잇츠
        &.lotte-eatz {
            @include mixins.ratio_images('/assets/images/experience/lotte_eatz_detail_bg', cover, center, '', 'jpg');
            background-attachment: fixed;
        }
    }

    .info-box {
        .left-area {
            .cont-tit-sm {
                padding-bottom: 15px;
                margin-bottom: 20px;
                border-bottom: 2px solid #222;
            }
        }
    }

    @include mixins.size_mobile {
        .right-area {
            margin-top: 40px;
        }
    }

    @include mixins.size_desktop {
        .img-box {
            margin-bottom: 60px;

            .title {
                font-size: 60px;
                line-height: 73px;
            }

            .sub-title {
                margin-top: -57px;
                font-size: 100px;
                line-height: 122px;
                font-weight: variables.$fontWeightBlack;
                color: rgba(variables.$colorWhite, 0.1);
            }
        }

        .info-box {
            @include mixins.justify_width;

            .left-area, .right-area {
                flex: 1 0 0;
            }

            .right-area {
                margin-left: 60px;
            }
        }
    }
}

.main-img-box {
    img {
        max-width: 100%;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
    }
}

.next-work-list {
    border: {
        top: 1px solid #222;
        bottom: 1px solid #222;
    }
    .work-item {
        .link-work {
            position: relative;
            display: inline-block;
            width: 100%;
            padding: {
                top: 10px;
                bottom: 10px;
            }
            vertical-align: top;
            overflow: hidden;

            .text {
                @include mixins.font_size_lg;
            }

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                display: inline-block;
                width: 100%;
                height: 100%;
                @include mixins.prefix(transform, translateY(100%));
                @include mixins.prefix(transition, .3s);
                background-color: rgba(variables.$colorHighlight, .3);
            }

            &:hover {
                &:after {
                    @include mixins.prefix(transform, translateY(0));
                    z-index: -1;
                }
            }
        }

        ~ .work-item {
            border-top: 1px solid #222;
        }
    }
}
/* e : detail */